.hidden {display:none;}
#chrono {text-align:center;}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #f5f5f5;
  text-align:center;
}
.page-header { text-align:center}

#pickzone { text-align:center}

.container {
  height: 50vh;
  overflow-y: scroll;
}